.profile-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 0px;
}

.profile-header {
  text-align: center;
}

.profile-header-img {
  width: 100%;
  height: 340px;
}

.profile-main-info {
  margin-top: -80px;
  margin-inline: 10px;
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid white;
}

h2{
  margin: 5px;
}

.image-and-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -20px;
  margin-right: 1rem;
}

.profile-details-left {
  text-align: left;
}

.profile-details-right {
  text-align: right;
}

@media only screen and (max-width: 800px) {
    .profile-main-info {
    margin-top: -80px;
  }
  .profile-header {
    text-align: center;
  }
  .profile-main-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .image-and-details {
      flex-direction: column;
  }
  .profile-details {
      flex-direction: column;
      margin-top: 10px;
      margin-left: 15px;
  }
}

.profile-details h2 {
  /* margin: 0; */
  font-size: 24px;
}

.profile-details .verified {
  color: green;
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-button:hover{
  opacity: 0.8;
}

.edit {
  background-color: #007bff;
  color: white;
}

.done {
  background-color: #2cf781;
  color: white;
}

.profile-section {
  margin-top: 30px;
  padding-inline: 5px;
}

.profile-section h3 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.profile-places {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-inline: 10px;
  width: 98%;
  overflow-x: auto;
  margin: 1em;
}

.profile-places:last-child{
margin-bottom: 20px;
}

.profile-languages {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.language-tag {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin-inline: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.profile-pricing {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pricing-card {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  height: 100px;
}

.qualifications-list {
  list-style-type: decimal;
  line-height: 1.5;
  width: 500px;
  padding-left: 20px;
  padding-bottom: 30px;
}